aiofiles
aiohttp
apscheduler
asyncio
beautifulsoup4
gitpython
heroku3
kurigram
pillow
psutil
pymongo
httpx
py-tgcalls
python-dotenv
pyyaml
py-yt-search
requests
speedtest-cli
spotipy
pytgcrypto
yt-dlp
